# Other git repositories used as base for learning
JavaScript/meat-app-starter/
Javascript/meat-app-template/
JavaScript/learning-app/
JavaScript/node_modules/
JavaScript/TypeScript/node_modules/

# University project documentation
APS/
Cpp/*.pdf
Java/gdx-texture-packer-gui/
Java/Learning/
